@import "tailwindcss";
header {
  font-family: "Cinzel", serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#hero-bg-slider {
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

#kaftans h2 {
  font-family: "Cinzel", serif;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scrolling-wrapper {
  animation: scroll-horizontal 30s linear infinite;
}
